* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.linear_gradient_area {
  position: absolute;
  width: 600px;
  height: 600px;
  background: linear-gradient(49.08deg, rgba(65, 88, 208, 0.5) 3.31%, rgba(200, 80, 192, 0.5) 57.52%, rgba(255, 204, 112, 0.5) 91.12%);
  filter: blur(150px);
  z-index: 1;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #1E1C31;
    text-decoration: none;
    margin-bottom: 0;
    width: fit-content;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1E1C31;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }